{{ define "footer" }}

<script>
  {{.Jscript | rawjs}}

</script>
 <!-- <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script> -->
  <!-- <script src="https://unpkg.com/botui/build/botui.min.js"></script> -->
  <!-- <script src="/static/js/main.js"></script> -->

{{ end }}