{{ define "header"}}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=yes" />
    <title>{{.}}</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/static/2/css/main.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
      <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  
  </head>

{{ end }}