{{ define "header"}}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{{.}}</title>

  <!-- <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet"> -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/5/css/normalize.css">
  <link rel="stylesheet" href="/static/5/css/skeleton.css">

  <link rel="stylesheet" href="/static/5/css/main.css">

  <link rel="icon" type="image/png" href="/static/5/img/favicon.png">
</head>

{{ end }}