{{ define "index" }}

<!DOCTYPE html>
<html lang="fi">

{{ template "header" .Title }}

<body>
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column phones">

          <p class="section-description">{{.Phrase}} </p>

        </div>

        <div class="one-half column phones ishadow">
          <img class="phone" data-blur="20" data-hover="true" src="/static/6/img/dating.jpg">
        
        </div>
      </div>


    </div>


  </div>
  <ul>
    {{range .Links}}

    <li><a href='{{. | slug}}.html'>{{. | linktext}}</a></li>

    {{end}}
  </ul>
  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">{{.Title}}</h3>
      <div class="row">
        <div class="one-half column category ishadow">
          <img class="u-max-full-width" data-blur="30" data-hover="true" src="/static/6/img/head_6.jpg">
        </div>
        <div class="one-half column category ishadow">
          <img class="u-max-full-width"  data-blur="30" data-hover="true"  src="/static/6/img/footer_6.jpg">
        </div>
      </div>
    </div>
    <p id="date"></p>
  </div>

  {{ template "footer" . }}
</body>

</html>

{{ end }}