{{ define "index" }}

<!DOCTYPE html>
<html lang="fi">

{{ template "header" .Title }}

<body>

  <div class="container">

    <div class="row">
      <div class="col s12 m10">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="/static/4/img/head.jpg" alt="{{.Title}}">
              </div>
              <div class="col s10">
                <span class="black-text">
                  <h2 class="blue-text text-darken-2">{{.Title}}</h2>
                  <br>
                  {{.Phrase}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12 m2">

        <div class="row">
          <div class="col s1 m8 offset-m2 l6 offset-l3">
            <ul>
              {{range .Links}}

              <li><a href='{{. | slug}}.html'>{{. | linktext}}</a></li>

              {{end}}
            </ul>
          </div>
          <div class="col s6">

            <img src="/static/4/img/footer.jpg" alt="{{.Title}}" class="responsive-img">

          </div>

        </div>
      </div>

    </div>

    <p id="date"></p>
  </div>
  {{ template "footer" . }}
</body>

</html>

{{ end }}